*{
  margin: 0;

}
header{
  outline: solid 1px black;
  height: 150px;
  text-align: center;
  font-size: 8em;
  line-height: 1em;
  font-family:　fantasy;
  background-image: url(buri.jpeg);
  color: blue;


}
nav{
  outline: solid 1px black;
  width: 150px;
  background-color: bisque;
}
main{
  outline: solid 1px black;
  flex: 1;
  background-color: skyblue;
}
aside{
  outline: solid 1px black;
  width: 200px;
  writing-mode: vertical-rl;
  font-size: 10em;
  line-height: 1.2em;
  background-color: silver;
}
footer{
  outline: solid 1px black;
  height: 150px;
  text-align: center;
  background-color: seagreen;

}
body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
div{
  display: flex;
  flex: 1;
}
.question{
  font-size: 2em;
}
