h2{
  background-color:yellow;
}
h1{
  background-color: indigo;
}
body{
  background-color: pink;
  text-align:center;

}
.menu{
  border: solid 1px indigo;
}
.question{
  border: double 3px black;
}
